
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

.loader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  color: $voa-blue;

  .spinner {
    width: 25vw;
    height: 25vw;
  }
}
