
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

.liveStream {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}
