
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

$ios-padding: 20px;

.app {
  flex: 1;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.toastText {
  color: #fff
}

.toastTitle {
  font-weight: bold;
}

.toastMessage {
  font-size: 14px;
}

.toastDismiss {
  float: right;
  color: #fff;
  font-style: italic;
  bottom: 5px;
  right: 5px;
  background-color: transparent;
  border: 0;
}

.toastMore {
  float: left;
  color: #fff;
  font-style: italic;
  bottom: 5px;
  left: 5px;
  background-color: transparent;
  border: 0;
}

