
$primary-color: #333;
@import '~@voiceofamerica/voa-shared/commonStyles/index';
@import '~mdi/scss/materialdesignicons.scss';

$rt-font-family: NotoSans;
$rt-toast-background: #fff;
$rt-color-default: #D41010;

@import '~react-toastify/scss/main';

.toast-text {
  color: #fff
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  font-size: 14px;
}

.toast-dismiss {
  float: right;
  color: #fff;
  font-style: italic;
  top: 5px;
  right: 5px;
}

@font-face {
  font-family: NotoSans;
  src: url(./fonts/NotoSansSC-Regular.woff2);
}

@font-face {
  font-family: NotoSans;
  src: url(./fonts/NotoSansSC-Bold.woff2);
  font-weight: bold;
}

html, body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  font-family: NotoSans;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}