
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

.articleRoute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    overflow-y: scroll;
    padding-bottom: $menu-height;
    margin-bottom: 30px;
  }

  .heading {
    h1 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 2vw 5vw;
      text-align: center;
    }

    hr {
      border: none;
      border-bottom: 1px solid black;
      margin: 0 20vw;
    }

    h2 {
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
      margin: 1vw 5vw;
    }

    h3 {
      font-size: 0.9em;
      text-align: center;
      margin: 1vw;
    }
  }

  .contentIcon {
    color: white;
    font-size: 2.2em;
    text-shadow: 0 0 0.2em #000;
  }

  .articleText {
    font-size: 1em;
    margin: 10px;
  }

  .centerIcon {
    font-size: 1.4em;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
  }

  .iconText {
    font-size: 0.4em;
    margin-top: -0.4em;
  }

  .relatedArticles {
    flex: 1;

    .relatedContentHeading {
      display: inline-block;
      padding: 4px;
      border-radius: 4px;
      background: $light-grey;
      margin: 5px 10px;
    }
  }
}
